/* Estilos personalizados para la sidebar */
.sidebar {
  z-index: 10000000;
  height: 100%;
  width: 0;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #0C231E;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: disc;
  color: #B38E5D;
}

.sidebar a {
  padding-top: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 15px;
  width: 250px;
  text-align: justify;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #B38E5D;
  text-decoration: none;
}

.open-btn, .close-btn {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 10000001;
  color: #0C231E;
  background: none;
  border: none;
}

.close-btn {
  display: none;
}

.main-content {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* Estilos para la superposición */
.overlay {
  position: fixed;
  top: 60;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: none; /* Ocultar por defecto */
  backdrop-filter: blur(2px); /* Difuminar el fondo */
}
