/* Estilos personalizados para la sidebar */
.sidebar {
  z-index: 10000000;
  height: 100%;
  width: 0;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #0C231E;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.open-btn, .close-btn {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 10000001;
  color: #0C231E;
  background: none;
  border: none;
}
.close-btn {
  top: 70px;
  display: none;
}
.main-content {
  transition: margin-left 0.5s;
  padding: 20px;
}
